<library path="src">
  <class name="Tensorflow Train Plugin" type="image_recognition_tensorflow_rqt.train.TrainPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for training objects using TensorFlow
    </description>
    <qtgui>
        <group>
            <label>Image recognition</label>
            <icon type="theme">folder</icon>
            <statustip>Plugins related to image recogition.</statustip>
        </group>
      <label>Tensorflow Object Trainer</label>
      <icon type="theme">system-help</icon>
      <statustip>Retrain a neural net that classifies images using TensorFlow.</statustip>
    </qtgui>
  </class>
</library>