<library path="src">
  <class name="Label Plugin" type="object_recognition_rqt.label.LabelPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for labeling objects
    </description>
    <qtgui>
        <group>
            <label>Object recognition</label>
            <icon type="theme">folder</icon>
            <statustip>Plugins related to object recogition.</statustip>
        </group>
      <label>Object labeler</label>
      <icon type="theme">system-help</icon>
      <statustip>Label objects in images and write to disk the results.</statustip>
    </qtgui>
  </class>
</library>