absl-py==2.0.0
actionlib==1.14.0
addict==2.4.0
angles==1.9.13
anyio==4.0.0
apturl==0.5.2
arabic-reshaper==3.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
atomicwrites==1.1.5
attrs==23.1.0
autobahn==17.10.1
Automat==0.8.0
Babel==2.13.1
backcall==0.2.0
backports.zoneinfo==0.2.1
base_local_planner==1.17.3
bcrypt==3.1.7
beautifulsoup4==4.12.2
black==24.2.0
bleach==6.1.0
blessed==1.20.0
blinker==1.4
blosc==1.7.0
bondpy==1.8.6
Brlapi==0.7.0
cachetools==5.3.1
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
catkin-tools==0.9.2
cbor==1.0.0
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==1.3.0
colorama==0.4.3
coloredlogs==15.0.1
comm==0.2.0
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.1.1
controller-manager==0.19.6
controller-manager-msgs==0.19.6
cryptography==41.0.4
cssselect2==0.7.0
cupshelpers==1.0
cv-bridge==1.16.2
cycler==0.12.1
Cython==0.29.14
dask==2.8.1+dfsg
dbus-python==1.2.16
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distlib==0.3.7
distro==1.4.0
distro-info==0.23+ubuntu1.1
dlib==19.24.2
docopt==0.6.2
docutils==0.20.1
duplicity==0.8.12.0
dynamic-reconfigure==1.7.3
empy==3.3.2
entrypoints==0.3
et-xmlfile==1.0.1
exceptiongroup==1.2.0
executing==2.0.1
facenet-pytorch==2.5.3
fasteners==0.14.1
fastjsonschema==2.19.0
filelock==3.13.1
flake8==7.0.0
flatbuffers==23.5.26
fonttools==4.45.0
fsspec==2023.10.0
future==0.18.2
gast==0.4.0
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.59.0
h5py==3.10.0
hsrb_angle_sensors_alignment==0.18.1
hsrb_autocharge==0.18.1
hsrb_battery_notifier==0.13.1
hsrb_bumper==0.18.1
hsrb_dashboard==0.3.5
hsrb_fetch_hanged==0.4.2
hsrb_gradational_color==0.18.1
hsrb_grasp_state_observer==0.30.0
hsrb_interface_py==0.12.0
hsrb_joint_impedance_control==0.30.0
hsrb_move_to_locations==0.4.2
hsrb_restart_cancel_task==0.4.2
hsrb_rlp_interface_py==0.3.1
hsrb_rqt_joint_impedance==0.3.5
hsrb_short_speech_task==0.4.2
hsrb_simple_actions==0.4.2
hsrb_status_led==0.13.1
hsrb_task_history_trigger==0.4.2
hsrb_task_state_machines==0.4.2
hsrb_task_states==0.4.2
hsrb_task_util==0.4.2
hsrb_timeopt_ros==0.30.0
hsrb_trajectory_filter==0.30.0
hsrb_voice_trigger_task==0.4.2
hsrb_web_server==0.30.0
html5lib==1.0.1
httplib2==0.14.0
humanfriendly==10.0
hyperlink==19.0.0
idna==3.4
image-geometry==1.16.2
imageio==2.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
incremental==16.10.1
inquirer==3.1.3
interactive-markers==1.12.0
ipykernel==6.27.0
ipython==8.12.3
ipython_genutils==0.2.0
ipywidgets==8.1.1
isort==5.13.2
jdcal==1.0
jedi==0.19.1
Jinja2==3.1.2
joblib==0.14.0
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
json5==0.9.14
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.11.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.2
keras==2.13.1
keyring==18.0.1
kiwisolver==1.4.5
language-selector==0.1
laser_geometry==1.6.7
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==16.0.6
locket==0.2.0
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
meld==3.20.2
message-filters==1.16.0
mistune==3.0.2
mmengine==0.10.0
mock==3.0.5
monotonic==1.5
more-itertools==4.2.0
mpi4py==3.0.3
mpmath==1.3.0
msgpack==0.6.2
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
netifaces==0.10.4
networkx==3.1
nose @ git+https://github.com/tue-robotics/nose.git@d4c51ff09de8e1bb9545b732b09d1f14cbf515cc
notebook==7.0.6
notebook_shim==0.2.3
numexpr==2.8.6
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
olefile==0.46
onnxruntime-gpu==1.16.0
opencv-python==4.8.1.78
openface==0.2.1
openpyxl==3.0.3
opt-einsum==3.3.0
oscrypto==1.3.0
osrf-pycommon==2.0.2
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
partd==1.0.0
pathspec==0.12.1
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
pkg_resources==0.0.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
pluggy==0.13.0
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.24.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.6.1
pycups==1.9.73
pydot==1.4.1
pyflakes==3.2.0
Pygments==2.17.1
PyGObject==3.36.0
PyHamcrest==1.9.0
pyHanko==0.20.1
pyhanko-certvalidator==0.24.1
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==3.1.1
pypdf==3.16.4
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
pyserial==3.4
pytest==4.6.9
python-apt==2.0.1+ubuntu0.20.4.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-editor==1.0.4
python-gnupg==0.4.5
python-json-logger==2.0.7
python-qt-binding==0.4.4
python-snappy==0.5.3
PyTrie==0.2
pytz==2023.3.post1
PyWavelets==0.5.1
pyxdg==0.26
PyYAML==6.0.1
pyzmq==25.1.1
qrcode==7.4.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qtconsole==5.5.1
QtPy==2.4.1
readchar==4.0.5
referencing==0.31.0
reportlab==3.6.13
requests==2.31.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
resource_retriever==1.12.7
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
roman==2.0.0
rosapi==0.11.17
rosbag==1.16.0
rosboost-cfg==1.15.8
rosbridge-library==0.11.17
rosbridge-server==0.11.17
rosclean==1.15.8
roscreate==1.15.8
rosdep==0.22.2
rosdep-modules==0.22.2
rosdistro-modules==0.9.0
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.0
rospkg-modules==1.5.0
rospy==1.16.0
rospy_message_converter==0.5.9
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rpds-py==0.13.1
rqt-console==0.4.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.9
rviz==1.14.20
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.3.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.8.2
sensor-msgs==1.13.1
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
smach==2.5.2
smach-ros==2.5.2
smach-viewer==4.1.0
smclib==1.8.6
sniffio==1.3.0
sound-play==0.3.17
soupsieve==2.5
spline_smoother==1.1.0
SQLAlchemy==1.3.12
ssh-import-id==5.10
stack-data==0.6.3
svglib==1.5.1
sympy==1.12
systemd-python==234
tables==3.6.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.18.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tf2-sensor-msgs==0.7.7
tinycss2==1.2.1
tmc_env_db==0.23.4
tmc_eus_py==0.1.3
tmc_eus_py_visualization_tools==0.1.3
tmc_force_torque_sensor_compensation==0.32.3
tmc_grasp_state_recognizer==0.32.3
tmc_grid_map_server==0.33.0
tmc_image_capturer==0.35.1
tmc_imu_wheel_odometry==0.33.0
tmc_journald==0.4.3
tmc_lint==0.11.0
tmc_move_base_and_joint_positions==0.24.3
tmc_mqtt_bridge==0.23.0
tmc_object_topology_viewer==0.23.4
tmc_remote_exec==0.30.0
tmc_ros_node_monitor==0.4.3
tmc_rosbag_tools==0.23.0
tmc_rosjulius==0.22.2
tmc_rostest_utils==0.11.0
tmc_sanyo_battery==0.27.1
tmc_sentence_trigger==0.23.4
tmc_simple_actions==0.24.3
tmc_smach_action_bridge==0.23.4
tmc_smach_states==0.24.3
tmc_stereo_marker_recognizer==0.34.2
tmc_task_fw==0.23.4
tmc_timeopt==0.34.1
tmc_timeopt_ros==0.34.1
tmc_utils_py==0.23.0
tmc_vision_util==0.35.1
tmc_voice_action==0.22.2
tmc_web_helper==0.30.0
tomli==2.0.1
toolz==0.9.0
topic-tools==1.16.0
torch==2.1.1
torchvision==0.16.1
tornado==6.3.3
traitlets==5.13.0
triton==2.1.0
Twisted==18.9.0
txaio==2.10.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
u-msgpack-python==2.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urdfdom-py==0.4.6
uritools==4.0.2
urllib3==2.1.0
usb-creator==0.3.7
virtualenv==20.24.5
wadllib==1.3.3
wcwidth==0.2.11
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.0
widgetsnbextension==4.0.9
wrapt==1.15.0
wsaccel==0.6.2
wxPython==4.0.7
xacro==1.14.16
xdot==1.1
xhtml2pdf==0.2.11
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yapf==0.40.2
zipp==3.17.0
zope.interface==4.7.1
